.header {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.header__menu {
    display: none;
}

.header__manage {
    margin-left: auto;
    margin-inline: auto 1rem;
}

#switch {
    display: none;
}

.switch_container {
    display: flex;
}

.switch_container-label {
    position: relative;
    height: 20px;
    width: 60px;
    background-color: #333;
    border-radius: 2rem;
    overflow: hidden;
    transition: 0.5s ease;
}

.switch_container-label:hover {
    cursor: pointer;
}

#switch:checked +.switch_container-label {
    background-color: #fe7f2d;
}

.switch_container-label::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    transition: 0.8s ease;
}

.fa-sun,
.fa-moon {
    font-size: 1rem;
    position: absolute;
}

.fa-sun {
    top: 12%;
    left: -31%;
}

.fa-moon {
    top: 9%;
    right: 9%;
}

#switch:checked + .switch_container-label::before {
    transform: translate(40px);
}

#switch:checked + .switch_container-label .fa-sun {
    left: 11%;
}

#switch:checked + .switch_container-label .fa-moon {
    right: -24%;
}

#switch:active + .switch_container-label::before {
    width: 35px;
}

.header__btn-container {
    display: none;
}

.header__bars {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--text-color);
}

.header__bars.dark {
    color: var(--text-light);
}

.header__bars.light {
    color: var(--text-dark);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--bg-dark);
        --text-color: var(--text-light);
    }
}

/* sm */
@media (min-width: 640px) {
    .header__title {
        flex: 1;
        padding: 1rem 0rem;
    }

    .header__menu {
        flex: 1;
        display: flex;
        gap: 1rem;
        justify-content: center;
        font-size: 0.8rem;
    }

    .header__link {
        text-decoration: none;
        font-weight: 500;
    }

    .header__link.dark {
        color: var(--text-light);
    }

    .header__link.light {
        color: var(--text-dark);
    }

    .header__link.dark:hover {
        color: rgba(36, 129, 235, 0.791);
    }

    .header__link.light:hover{
        color: rgb(0, 0, 238);
    }

    .header__link:link,
    .header__link:visited {
        text-decoration: none;
        text-underline-offset: none;
    }

    .header__link:hover,
    .header__link:active {
        text-decoration: underline;
        text-underline-offset: 0.4em;
        transition: 0.2s ease;
    }

    .header__btn-container {
        display: block;
    }

    .header__manage {
        flex: 1;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        align-items: center;
    }

    .header__btn {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .header__btn:hover {
        border: 1px solid var(--button-hover);
        transition: 0.5s linear;
    }

    .header__bars {
        display: none;
    }
}

/* md */
@media (min-width: 768px) {
    .header__title {
        font-size: 1.5rem;
    }

    .header__menu {
        font-size: 0.9rem;
    }

    .switch_container-label {
        height: 25px;
        width: 65px;
    }

    .switch_container-label::before {
        width: 25px;
        height: 25px;
    }

    .fa-sun,
    .fa-moon {
        font-size: 1.3rem;
    }
}

/* lg */
@media (min-width: 1024px) {
    .header__menu {
        font-size: 1rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .header__menu {
        gap: 2rem;
    }

    .header__btn {
        gap: 1rem;
    }
}
